---
- include_vars: bitbucket.yml

# Get server repo.
- name: Clone server repository.
  git:
    repo: "{{ item.repo }}/{{ item.name }}.git"
    destination: "{{ server_directory }}/{{ item.name }}"
  with_items: "{{ servers }}"
