---
- name: Ensure server directory exists.
  file:
    path: "{{ servers_server_directory }}"
    state: directory
  become: "{{ servers_directory_owner }}"

- name: Clone server repositories.
  git:
    repo: "{{ item.url }}"
    dest: "{{ servers_server_directory }}/{{ item.name }}"
    update: no
    accept_hostkey: True
  with_items: "{{ servers }}"
  become: "{{ servers_repo_owner }}"

- name: Set permissions on newly cloned repos (we don't worry about group).
  file:
    path: "{{ servers_server_directory }}/{{ item.name }}"
    owner: "{{ servers_directory_owner }}"
  with_items: "{{ servers }}"
  become: True

- name: Test if Vagrant exists.
  stat:
    path: "{{ servers_vagrant_path }}"
  register: vagrant

- name: Add vagrant plugins.
  shell: "vagrant plugin install {{ item.plugin_name }}"
  with_items: "{{ vagrant_plugins }}"
  when: "{{ vagrant.stat.exists }}"
