---
- name: Ensure server directory exists.
  file:
    path: "{{ servers_server_directory }}"
    state: directory
    owner: "{{ servers_directory_owner }}"
    group: "{{ servers_directory_group }}"
  become: true

- name: Clone server repositories.
  git:
    repo: "{{ item.url }}"
    dest: "{{ servers_server_directory }}/{{ item.name }}"
    update: no
    accept_hostkey: True
  with_items: "{{ servers }}"
  become: true

- name: Update permissions on newly cloned directories.
  file:
    path: "{{ servers_server_directory }}/{{ item.name }}"
    state: directory
    owner: "{{ servers_directory_owner }}"
    group: "{{ servers_directory_group }}"
  with_items: "{{ servers }}"
  become: true

- name: Test if Vagrant exists.
  stat:
    path: "{{ servers_vagrant_path }}"
  register: vagrant

- name: Add vagrant plugins.
  shell: "vagrant plugin install {{ item }}"
  with_items: "{{ vagrant_plugins }}"
  when: "{{ vagrant.stat.exists }}"
